<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">

    <head>
        <meta charset="UTF-8">
        <title>Event Registration</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <style>
            input.ng-invalid.ng-dirty {
                background-color: #FFEFD5;
            }
        </style>
    </head>

    <body ng-cloak>
        
        <div class="container">

            <div class="navbar">

                <div class="navbar-inner">

                    <ul class="nav">
                        <li><a href="/EventDetails.html">All Events</a></li>
                        <li><a href="/NewEvent.html">Create Event</a></li>
                    </ul>

                </div>

            </div>

            <div ng-controller="EditEventController" style="padding-left: 20px; padding-right: 20px;">

                <div class="container">

                    <h1>New Event</h1>

                    <hr>

                    <form name="newEventForm">

                        <fieldset>

                            <label for="eventName">Event Name:</label>
                            <input id="eventName" type="text" placeholder="Name..." ng-model="event.name" required>

                            <label for="eventDate">Event Date:</label>
                            <input id="eventDate" type="date" ng-model="event.date" required>

                            <label for="eventTime">Event Time:</label>
                            <input id="eventTime" type="text" placeholder="Time..." ng-model="event.time">

                            <label for="eventLocation">Event Location:</label>
                            <input id="eventLocation" type="text" placeholder="Location..." ng-model="event.location.address"><br>
                            <input id="eventCity" type="text" placeholder="City..." ng-model="event.location.city"><br>
                            <input id="eventProvince" type="text" placeholder="Province..." ng-model="event.location.province"><br>

                            <label for="eventImageUrl">Image:</label>
                            <input id="eventImageUrl" type="url" class="input-xlarge" placeholder="Image URL..." ng-model="event.imageUrl">

                        </fieldset>

                        <img ng-src="{{ event.imageUrl }}" alt="">
                        <br><br>

                        <button type="submit" class="btn btn-primary" ng-click="saveEvent(event, newEventForm)" ng-disabled="newEventForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>

                    </form>

                </div>

            </div>

        </div>

        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/underscore-1.4.4.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular/angular-resource.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controllers/EventController.js"></script>
        <script src="/js/controllers/EditEventController.js"></script>
        <script src="/js/services/EventData.js"></script>
        <script src="/js/filters.js"></script>

    </body>

</html>
